# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
*.DS_Store*

# dev code
code/thesis
code/troubleshoot_norm

# results files
*TauDiffusion*Cmax*
figures*

# generated data files
data/*.csv
data/aba/expression/*NormalizedFirst.csv
data/aba/atlas/atlasVolume*
data/aba/atlas/P56*
data/aba/atlas/*.mat
data/aba/atlas/*.RData
data/aba/atlas/*.nrrd
data/aba/atlas/structIDs.csv

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
